---
branches:
  only:
    - master
    - develop
    - /^feature/.*$/
language: node_js
node_js:
  - stable
  - 12
  - 10
env:
  global:
    - CC_TEST_REPORTER_ID=38aa500b8b54a16b7201c6c2c78a6abcc5719e39353cfaff9c200c329f0496a2
before_install:
  - npm i -g npm
install: npm ci --no-optional
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
after_script:
  - "[ $TRAVIS_NODE_VERSION = stable ] && nyc report --reporter=lcov && ./cc-test-reporter
    after-build --debug -t lcov --exit-code $TRAVIS_TEST_RESULT || echo 'Coverage skipped'"
notifications:
  slack:
    secure: DaI6FcDIsK51YciZ/RPT3TIpAXAN/akbzgKFxHtogBnVmuZzyIqh/jffoF/RJBtZ46xK8vr7TtfE2vgPto6jQcD4L7WSLUEfS+b1gHUOQHJmW+Y1LxMI/Cpv9VKdZlhOFPO/AMLwa+g7Rb8/TD3W2WSw4zPXqUBMRjvENxtmMY08C0jRy9jrGKjqxx01kxW+Kzw8Kkfh45ULKwIt05kaW0azsfECbbVsiWXj1MyB/NTQPX6BJHnnhHnc+xebKI3PlDLU2PsK4rub2wBiClg3IM0mIQLw1cBUNkmFhklRaHsqxwQgBEyGOQhAGFwACIeM1GZTInQVLjQgrxi8PKQ1OSJUMYt3f35Vrc3kZxr9CuVhhZbGsEoLvON7fGdBPuG4FJkxnzRsB97CWoKp0cSQkCA+7sr/Pz/Qt4PYQroTDwH9XLC8SE5D2vsmLmFhd2QsBTeoTec1G0ZDm8PevvIgLWRGnbg3HUVN9puBy3YWPYhgMIDMZa10FkepGbHThgeLECBACnK2Be1DWcZKNN/m0JKLJoZLhAli+naYh2PRplSXoc1Nx0S3Pz45j+YVV0/ZDBKbqbOp9qVdluiK5o2oF1ANaS6eBJh/I/sDncwf/lxm4nbLJ2Ss0V3uExP7uv/2ImYndVu6C4zQeveF612+yImdUT9Ujmm9ztk0ADioon0=
cache:
  directories:
    - "$HOME/.npm"
